{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.css" />
<link rel="stylesheet" href="{% static 'torneo/css/torneo.css' %}" />
<link rel="stylesheet" href="{% static 'usuario/css/admin.css' %}" />
<title>{% trans 'Editar usuario' %}</title>
{% endblock %}

{% block content %}
    <div class="torneo-header">
        <div class="navbar-brand float-start nuevo d-flex align-items-center">
            <a href="{% url 'usuario:listado_usuarios' %}">
                <img src="{% static 'torneo/img/atras.png' %}" alt="nuevo" width="33" height="33" />
            </a>
            
            <h3 class="mt-0">
                <strong>{% trans "Editar usuario" %}: {{ usuario.nombre }}</strong>
            </h3>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        {% endfor %}
    {% endif %}

    <div class="container-form">

        <div>
            <form method="post">
                {% csrf_token %}

                {{ user_form.as_p }}
                {{ rol_form.as_p }}   

                <div class="form-btn">
                    <button type="submit" class="btn">{% trans "Guardar cambios" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}