{% extends "base.html" %}
{% load i18n %}
{% load static %}


{% block extra_head %}
<link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.css" />
<link rel="stylesheet" href="{% static 'torneo/css/torneo.css' %}" />
<link rel="stylesheet" href="{% static 'usuario/css/admin.css' %}" />
<title>{% trans 'Usuarios' %}</title>
{% endblock %} 

{% block content %}
<div class="torneo-header">
    <h3 class="float-start">
        <strong>{% trans 'Listado de usuarios' %}</strong>
    </h3>

    <a href="{% url 'usuario:crear_usuario' %}" class="btn btn-nuevo-torneo float-end">
        {% trans 'Crear usuario' %}
    </a>
</div>

<div class="container-table">
  <div class="buscador">
    <input
      id="buscar-usuario"
      type="text"
      class="form-control"
      placeholder="{% trans 'Buscar usuario...' %}"
    />
  </div>

    <table id="usuariosTable" class="table table-hover">
      <thead>
        <tr>
          <th>{% trans 'Nombre' %}</th>
          <th>{% trans 'Email' %}</th>
          <th>{% trans 'Tipo de usuario' %}</th>
          <th class="acciones"></th>
        </tr>
      </thead>
      <tbody>
        {% for usuario in usuarios %}
        <tr data-id="{{ usuario.user.id }}">
          <td class="align-middle">{{ usuario.nombre }}</td>
          <td class="align-middle">{{ usuario.user.email }}</td>
          <td class="align-middle">{{ usuario.tipo }}</td>
          <td class="align-middle">
            <form action="{% url 'usuario:borrar_usuario' usuario.user.id %}" method="post">
              {% csrf_token %}
              <button id="borrar" type="submit" class="borrar">
                <img src="{% static 'torneo/img/eliminar.png' %}" alt="borrar" width="20" height="20"/>
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

</div>

{% endblock %} 
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.datatables.net/2.3.6/js/dataTables.js"></script>
<script>
  $(document).ready(function() {
        const lang = "{{ LANGUAGE_CODE }}";
        let langUrl = "";
        if (lang.toLowerCase().startsWith('es')){
          langUrl = "https://cdn.datatables.net/plug-ins/2.3.6/i18n/es-ES.json"
        } else {
          langUrl = "https://cdn.datatables.net/plug-ins/2.3.6/i18n/en-GB.json"
        }
        var table = $('#usuariosTable').DataTable({
            pageLength: 10,
            lengthMenu: [10, 25, 50, 100 ],
            dom: 't<"paginacion"<"paginacion-info"i><"paginacion-button"p>>',
            language: {
                url: langUrl,
            },
            columnDefs: [
                { orderable: false, searchable: false, targets: -1 }
            ]
        });


        $('#usuariosTable tbody').on('click', 'tr', function(e){
          if (e.target.closest('#borrar'))
            return;

          const usuarioId = this.getAttribute('data-id');
          window.location.href = "{% url 'usuario:editar_usuario' 0 %}".replace('0', usuarioId);
        });

        $('#buscar-usuario').on('input', function() {
            table.search(this.value).draw();
        });
  });
</script>
{% endblock %}