{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'torneo/css/torneo.css' %}">
    <title>{% trans 'Nuevo torneo' %}</title>
{% endblock %}

{% block content %}
    <div class="torneo-header">
        <div class="navbar-brand float-start nuevo d-flex align-items-center">
            <a href="{% url 'usuario:home' %}">
                <img src="{% static 'torneo/img/atras.png' %}" alt="nuevo" width="33" height="33" />
            </a>
            <h3 class="mt-0">
                <strong>{% trans "Crear nuevo torneo" %}</strong>
            </h3>
        </div>
    </div>
    <form method="post">
        <div class="container-form">
            {% csrf_token %}
            {{ form.non_field_errors }}

            {{ form.as_p }}
        </div>

        <div class="form-btn">
            <button type="submit" class="btn float-end">{% trans "Crear Torneo" %}</button>
        </div>
    </form>
    
{% endblock %}

{% block scripts %}
<script>
    
    const playoffsCheckbox = document.getElementById('id_playoffs');
    const descensoCheckbox = document.getElementById('id_descenso');

    function cambioPlayOffs() {
        const numPlayOffsField = document.getElementById("id_n_equipos_playoffs");
        const numPlayOffsLabel = document.querySelector('label[for="id_n_equipos_playoffs"]');

        if (playoffsCheckbox.checked) {
            numPlayOffsField.classList.remove('d-none');
            numPlayOffsLabel.classList.remove('d-none');
        } else {
            numPlayOffsField.classList.add('d-none');
            numPlayOffsLabel.classList.add('d-none');
        }
    }

    function cambioDescenso() {
        const numDescensoField = document.getElementById("id_n_equipos_descenso");
        const numDescensoLabel = document.querySelector('label[for="id_n_equipos_descenso"]');

        if (descensoCheckbox.checked) {
            numDescensoField.classList.remove('d-none');
            numDescensoLabel.classList.remove('d-none');
        } else {
            numDescensoField.classList.add('d-none');
            numDescensoLabel.classList.add('d-none');
        }
    }

    function elementosLiga() {
        const selectorTipo = document.getElementById('id_tipo');
        const tipoSeleccionado = selectorTipo.value;

        const playoffsContainer = playoffsCheckbox.closest('p');
        const descensoContainer = descensoCheckbox.closest('p');

        if (tipoSeleccionado === 'LIG') {
            playoffsContainer.classList.remove('d-none');
            descensoContainer.classList.remove('d-none');
        } else {
            playoffsContainer.classList.add('d-none');
            playoffsCheckbox.checked = false;
            cambioPlayOffs();
            descensoContainer.classList.add('d-none');
            descensoCheckbox.checked = false;
            cambioDescenso();
        }
    }

    function elementosGrupos() {
        const selectorTipo = document.getElementById('id_tipo');
        const tipoSeleccionado = selectorTipo.value;

        const nGruposField = document.getElementById("id_n_grupos");
        const nGruposLabel = document.querySelector('label[for="id_n_grupos"]');

        const clasificadosField = document.getElementById("id_n_clasificados_grupo");
        const clasificadosLabel = document.querySelector('label[for="id_n_clasificados_grupo"]');

        if (tipoSeleccionado === 'ELG') {
            nGruposField.classList.remove('d-none');
            nGruposLabel.classList.remove('d-none');
            clasificadosField.classList.remove('d-none');
            clasificadosLabel.classList.remove('d-none');
        } else {
            nGruposField.classList.add('d-none');
            nGruposLabel.classList.add('d-none');
            clasificadosField.classList.add('d-none');
            clasificadosLabel.classList.add('d-none');
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        cambioPlayOffs();
        cambioDescenso();
        elementosLiga();
        elementosGrupos();
        document.getElementById('id_tipo').addEventListener('change', elementosLiga);
        document.getElementById('id_tipo').addEventListener('change', elementosGrupos);
        document.getElementById('id_playoffs').addEventListener('change', cambioPlayOffs);
        document.getElementById('id_descenso').addEventListener('change', cambioDescenso);

        document.documentElement.classList.remove('js-loading');
    });
</script>
{% endblock %}
